<div class="container text-center p-5">
  <h1 class="mb-5">Some of the website info by numbers:</h1>
  <div *ngIf="!MealsRequestsNumber" class="d-flex justify-content-center">
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-info" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-light" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-dark" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div *ngIf="MealsRequestsNumber">
    <h2>Number of Restaurants: </h2>
    <h3>{{RestaurantsNumber}}</h3>
    <h2>Number of Registered Users:</h2>
    <h3>{{UsersNumber}}</h3>
    <h2>Number of Food Invitations:</h2>
    <h3>{{InvitationsNumber}}</h3>
    <h2>Number of Recorded Food Requests until now:</h2>
    <h3>{{MealsRequestsNumber}}</h3>
  </div>
</div>

<div class="justify-content-center text-center pb-5">
  <!--Dark-green-->
  <button (click)="foodManage()" type="button" class="btn btn-dark-green btn-lg">MANAGE MY FOOD</button>
</div>


<router-outlet></router-outlet>
