<div class="jumbotron-fluid text-center p-5">
  <p class="custom">
    Food Delivery
  </p>
  <p class="custom">
    New APP
  </p>
</div>


<div class="container align-content-center justify-content-center p-5">
  <!-- Default form register -->
  <form novalidate [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="text-center border border-light p-5">

    <p class="h4 mb-4">
            <i class="fas fa-heart" style ="color: red;"></i>
            <i class="fas fa-heart" style ="color: red;"></i>
            We are so happy to have you a member in our Site
            <i class="fas fa-heart" style ="color: red;"></i>
            <i class="fas fa-heart" style ="color: red;"></i>
          </p>

    <div class="form-row mb-4">
        <div class="col">
            <!-- First name -->
            <input formControlName="firstname" type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First Name" required>
            <p class = "font-weight-bold text-danger" *ngIf="formErrors.firstname">{{formErrors.firstname}}</p>
        </div>
        <div class="col">
            <!-- Last name -->
            <input formControlName="lastname" type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last Name" required>
            <p class = "font-weight-bold text-danger" *ngIf="formErrors.lastname">{{formErrors.lastname}}</p>
        </div>
    </div>

    <!-- Section -->
    <label>Please, Select Your Section: </label>
    <select formControlName="section" class="form-control mb-4">
      <option *ngFor="let item of sections" value={{item}}>{{item}}</option>
    </select>

    <!-- E-mail -->
    <input formControlName="email" type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail" required email>
    <p class = "font-weight-bold text-danger" *ngIf="formErrors.email">{{formErrors.email}}</p>

    <!-- Password -->
    <input formControlName="password" type="password" id="defaultRegisterFormPassword" class="form-control mb-4" placeholder="Password" pattern required>
    <p class = "font-weight-bold text-danger" *ngIf="formErrors.password">{{formErrors.password}}</p>

    <!-- Password Confirm -->
    <input (input)="confirmCheck($event)" formControlName="passwordConfirm" type="password" id="defaultRegisterFormPasswordConfirm" class="form-control mb-4" placeholder="Password Confirm" required>
    <p class = "font-weight-bold text-danger" *ngIf="formErrors.passwordConfirm">{{formErrors.passwordConfirm}}</p>

    <!-- Phone number -->
    <input formControlName="phone" type="text" id="defaultRegisterPhonePassword" class="form-control mb-4" placeholder="Mobile number" pattern required>
    <p class = "font-weight-bold text-danger" *ngIf="formErrors.phone">{{formErrors.phone}}</p>

    <!-- Sign up button -->
    <button [disabled]="!signupForm.valid" class="btn btn-danger my-4 btn-block" type="submit">REGISTER</button>

    <a [routerLink]="['/login']">Login instead ?</a>

  </form>
  <!-- Default form register -->

</div>
